/* Fuentes para la pagina */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}


/* --------------------------------------PAGINA PRINCIPAL index-------------------------------------- */
body {
    background-color: #F5F5F5;
}

header {
    height: 150px;
    position: sticky;
    top: 0;
}

/* margen para lo escrito en el index */
h2 {
    margin-left: 30px;
}

.padreBannerFlex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #39393a;
    margin: auto;
    height: 130px;
}



/* --------------------menu------------------------- */
/* aca es donde llamo al menu */
#menu {
    margin: auto; 
    color: #E6E6E6;
}

#menu nav {
    margin: -98px;
} 


.dropbtn {
    background-color: #39393a;
    color: white;
    padding: 16px;
    font-size: 20px;
    border: none;
    font-weight: bold;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 75px;
    padding-left: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #39393a;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white ;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: bold;
}

.dropdown-content a:hover {background-color: #4848e0;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #39393a;}


/* logo de la empresa */
.rash{
    /* display: flex; */
    /* width: 60px;*/
    width: 60px;
    /* height: 60px;  */
    margin: 20px;
}

/* link redes sociales en el banner */
.redesSociales img{
    margin-top: 50px;
    margin-right: 15px;
    padding-left: 10px;
    height: 35px;
    width: 35px;
}

/* -----------------------------------------termina baner----------------------------------------------------- */

/* Imagenes centrales de envio a todo el pais y retiros */
#envioRetiro {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    /* margin: auto;  */
    height: 110px;
    width: 100%;
} 

.imagencentro {
    width: 35%;
}

.imagenesCentrales {
    text-align: center;
    background-color:#39393A;
}

/* Boton de whatssap */
.botonWhatsApp img{
    width: 60px;
    position: fixed;
    bottom: 10px;
    right: 10px;
} 

/* ------------------------------------- pie de pagina ----------------------------------- */
#footer {
    text-decoration: none;
    list-style-type: none;
    color: #E6E6E6;
    background-color: #39393A;
    height: 300px;
}

footer a{
    text-decoration: none;
    color: #E6E6E6;
}

.footerPadre {
    display: flex;
    background-color: #39393A; 
    height: 300px;
    justify-content: center;
    padding-top: 70px;
}


.footerHijo {
    margin-right: 50px;
}

.footerHijo li {
    list-style-type: none;

}

/* ...........................................formulario de contacto............................*/
form {
    margin: 15px;
}

.formulario {
    background-color: #E6E6E6;
    padding-left: 15px;
}


/* Video que esa ubicado en la pagina sillasGamers.html */
.video{
    text-align: center;
} 

/* --------Productos destacados, accesorios y perifericos -------------*/
.destacadosFlexPadre {
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin: auto; 
    height: 430px;
}


.marcoProducto {
    border: 1px rgb(160, 159, 159) solid;
    border-radius: 15px;
    flex-direction: row;
    justify-content: center;
    width: 250px;
    height: 430px;
    box-shadow: 2px 2px 10px rgb(70, 69, 69);
    margin: 30px;
    background-color: white;
    /* padding: 10px;  */
     /*no se como queda mejor */
} 

.marcoProducto img {
    width: 200px;
    height: 250px;
    justify-content: center;
    padding: 5px;
    margin-left: 20px;
}

.marcoProducto p{
    font-weight: bolder;
    margin: 15px;
    text-align: center;
}

.marcoProducto hr {
    height:3px;
    border-width:0;
    background-color:rgb(76, 0, 255);
    margin-left: 40px;
    margin-right: 40px;
}

.marcoProducto img{
    object-fit: contain;
}


/* ---------------------------------------boton comprar----------------------------------------- */
.botonComprar {
/* background-color: #4CAF50;   */
/* padding: 15px 32px; */
/* display: inline-block;  estos ya estaban quitados*/
    border: none;
    color: black;
    text-align:center;
    text-decoration: none;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}  

.button {
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #297373;
    font-weight: bold;
}



/* .botonComprarColor {
    background-color: rgb(216, 5, 5);
    color: black;
    border: 2px solid #ff0000; /* Green */



/* ----------------------------las fotos que estan abajo en el index---------------------------- */
.fotosPlacaAccesoriosMother {
    /* display: flex;
    flex-direction: row;
    justify-content: center; 
    height: 430px;
    margin: auto;
    width: 100%; */
    display: flex;
    flex-direction: row;
    /* justify-content:flex-start; */
    margin: auto;
}

.contenedorPlacaAccesorioMother {
    text-align: center;
    padding: 10px; 
    width: 100%;
    height: 400px;
    display: flex;
}

.contenedorPlacaAccesorioMother img {
    margin: 10px;
    /* width: 100%; */
    justify-content: center;
    text-align: center;
}