/* Fuentes para la pagina */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/* para los contenedores */
/* @use "@material/card";

@include card.core-styles; */


* {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}



/* --------------------------------------PAGINA PRINCIPAL index-------------------------------------- */
body {
    background-color: #F5F5F5;
}

header {
    height: 150px;
    position: sticky;
    top: 0;
}

/* margen para lo escrito en el index */
h2 {
    margin-left: 10px;
}

.padreBannerFlex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #39393a;
    margin: auto;
    height: 150px;
}


/* --------------------menu------------------------- */
/* aca es donde llamo al menu */
#menu {
    margin: auto; 
    color: #E6E6E6;
}

 #menu nav {
    margin-top: 20px;
} 


.dropbtn {
    background-color: #39393a;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    margin-top: 75px;
    padding-left: 10px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #39393a;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: white ;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #b9ae0a;}


/* logo de la empresa */
.rash{
    display: flex;
    width: 150px;
    height: 150px;
}

/* link redes sociales en el banner */
.redesSociales img{
    margin-top: 15px;
    margin-right: 15px;
    padding-left: 10px;
    height: 40px;
    width: 40px;
}

/* -----------------------------------------termina baner----------------------------------------------------- */

/* Imagenes centrales de envio a todo el pais y retiros */
#envioRetiro {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    /* margin: auto;  */
    height: 110px;
    width: 100%;
} 
.imagencentro {
    width: 35%;
}


/* Boton de whatssap */
.botonWhatsApp img{
    width: 60px;
    position: fixed;
    bottom: 10px;
    right: 10px;
} 


.imagenesCentrales {
    text-align: center;
    background-color:#39393A;
}


/* ------------------------------------- pie de pagina ----------------------------------- */
#footer {
    text-decoration: none;
    list-style-type: none;
    color: #E6E6E6;
    background-color: #39393A;
    height: 300px;
}

footer a{
    text-decoration: none;
    color: #E6E6E6;
}

.footerPadre {
    display: flex;
    background-color: #39393A; 
    height: 300px;
    justify-content: center;
    padding-top: 70px;
}


.footerHijo {
    margin-right: 50px;
}

.footerHijo li {
    list-style-type: none;

}

/* ...........................................formulario de contacto............................*/
form {
    margin: 15px;
}

.formulario {
    background-color: #E6E6E6;
    padding-left: 15px;
}


/* Video que esa ubicado en la pagina sillasGamers.html */
.video{
    text-align: center;
} 

/* --------Productos destacados, accesorios y perifericos -------------*/
.destacadosFlexPadre {
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin: auto; 
    height: 430px;
}


.marcoProducto {
    border: 2px black solid;
    border-radius: 4px;
    /* display: flex; */
    flex-direction: row;
    justify-content: center;
    /* width:auto; */
    width: 250px;
    height: 430px;
    /* height: 200px; */
    box-shadow: 2px 2px 10px;
    margin: 30px;
    background-color: white;
} 

.marcoProducto img {
    width: 200px;
    height: 250px;
    justify-content: center;
    padding: 5px;
    margin-left: 20px;
}

.marcoProducto p{
    font-weight:  bolder;
    margin: 15px;
}



.botonComprar {
    /* background-color: #4CAF50;   */
     border: none;
    color: black;
    /* padding: 15px 32px; */
    text-align:center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
  } 

  .botonComprarColor {
    background-color: rgb(216, 5, 5);
    color: black;
    border: 2px solid #ff0000; /* Green */
  }
